# macOS
.DS_Store

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log

# Local env files
*.local
.env

# Backend disk cache
backend/cache/

# pycache
__pycache__/

data/*.db
data/*.db-*
data/exports
data/nsclc_ppp.json

figures/


